#statusbar {
    width: 100;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#statusbar div {
    border: 1px solid red;
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

#statusbar h1 {
    margin: 0px;
    padding: 0px;
}

#statusbar div span {
}

#statusbar div a {
    margin-left: 5px;
}

#apitest {
    font-family: monospace;
}

#error {
    position: absolute;
    top: 0px;
    max-width: 20em;
    margin: 0 auto;
    z-index: 1;
}

#errortext {
    padding: 10px;
    width: fit-content;
    border: 2px solid red;
    background: black;
    color: white;
    font-weight: bold;
}

#admintag {
    font-weight: bold;
    padding: 2px;
    margin-right: 5px;
    color: red;
    
}
#modtag {
    font-weight: bold;
    padding: 2px;
    margin-right: 5px;
    color: blue;
    
}
